body
{
	margin:0px;
	padding: 0px;
	width: 100%;
	border:0px;
	background-color: #d7dbd7;
	/* background-color: #66ffcc; */
	font-family: arial;
	background-image: url("../images/sea-edge-79ab30e2.png");
	height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}


.wrapper
{
	margin: 0 auto;
	width: 1100px;
	height: 100%;
}

/*============	HEADER	===================*/

.logoletter:hover
{
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.header
{
	width: 100%;
	height: 55px;
	/* background-color: #009688; */
	background-color:  	 #b3003b;
	/* background-image: url(../images/disco-dba865f1.png); */
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 10s ease infinite;
	position: fixed;
	z-index: 9999;
}

@keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
.headerfixed
{
	width: 100%;
	height: 50px;
}

.header .wrapper .logoletter
{
	padding-top: 5px;
}

#searching
{
	display: inline;
}

#search
{
	/*width: 420px;*/
	width: 220px;
	background-image: url('../images/login/search.png');
	background-position: 5px 4px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	border-radius: 8px;
	font-size: 16px;
	padding: 10px 20px 10px 40px;
	background-color: #E1E9EE;
	border: 0px;
	position : absolute;
	top: 5px;
	/*margin-left: 100px;*/
	margin-left: 50px;
	transition: width 1.5s ease-in-out;
}

#search:focus
{
	width: 420px;
	outline: 0px
}

.icon-bar
{
	float: right;
	/*width: 420px;*/
	width: 410px;
	height: 45px;
	position:relative;
}

.icon-bar ul
{
	margin:0px;
	margin-top: 3px;
	height: 42px;
	padding-left: 40px;
}

.icon-bar ul li
{
  	display: inline-block;
  	/*margin-left: 20px;
  	padding: 0px 5px;*/
  	height: 42px;
  	width: 70px;
}

#notify
{
	position: absolute;
	width: 80%;
	height: 370px;
	background-color: rgba(0,0,0,0.7);
	right: -4px;
	top:112%;
	display: none;
	animation: notifyzoom 0.5s;
}

@keyframes notifyzoom
{
	0%
	{
		transform: scaleY(0);
	}
	100%
	{
		transform: scaleY(1);
	}
}

.icon-bar ul li:hover #notify
{
	display: block;
}

#notify p
{
	color:white;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}

#notify-list p{
    text-align: left;
    margin-left: 15px;
}


.icon-bar img
{   
	width: 34px;
	height: 27px;
	padding-left:20px;
}

.icon-bar a
{
	width: 52px;
	height: 50px;
	position: relative;
}
.icon-bar a p
{
	display: inline;
	position: absolute;
	left:0px;
	top: 2px;
	color: black;
	font-size: 13px;
	margin-bottom: 0px;
}

#p1
{
	padding-left: 20px;
}

#p2
{
	padding-left: 20px;
}

#p3
{
	padding-left: 18px;
}

#p4
{
	padding-left: 10px;
}



.content
{
	margin-top: 4%;
}
 
/* SIDEBAR LEFT */
.sidebarleft
{
	width: 200px;
	/*height: 100px;*/
	background-color: #FFFFFF;
	position: fixed;
	border: 1px solid #B7B7B7;
	border-radius: 4px;
	box-shadow: 2px 6px 6px #999999;
}

.leftfixed
{
	width: 200px;
	height: 500px;
	float: left;
	margin-right: 20px;
}

.sidebarleft img
{
	width: 150px;
	height: 150px;
	padding: 25px;
	/*padding-bottom: 10px;*/
	border-radius: 50%;
}

.sidebarleft #sidename
{
	text-align: center;
	position: relative;
	top: -25px;
	margin: 0px;
	font-size: 16px;
	font-family: "Comic Sans MS";
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}

.sidebarleft p
{
	text-align: center;
	margin: 0px;
	font-size: 12px;
	font-family: "verdana";
	padding-left: 10px;
	padding-right: 10px;
	color: #525252;
}

#info
{
	position: relative;
	top: -8px;
}

#country
{
	margin-bottom: 13px;
}

#viewall
{
	display: block;
	/*margin-left: 75px;*/
	margin: 0 auto;
	font-size: 13px;
	border-radius: 5px;
	border: 0px;
	outline: 0px;
	background-color: #00aeef;
	color: white;
	text-decoration: none;
	width: 55px;
	text-align: center;
	padding: 2px;
	margin-bottom: 15px;
}

#viewall:hover
{
	background-color: #4F82C3;
}

.sidebarleft hr
{
	width: 80%;
	border: 0.8px solid #B7B7B7;
	margin-bottom: 15px;
}

#nofollowers
{

	color: #E91E63;
	font-size: 24px;
	font-family: "Comic Sans MS";
	font-weight: bold;
}

#followerlist a
{
	color: black;
}

#followerlist a:hover
{
	color: #E91E63;
}

#logout
{
	color: #009688;
	margin: 2px;
	margin-top: 18px;
	text-align: center;
	background-color: #009688;
}

#logout a
{
	display: block;
	color: white;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	padding: 4px;
}

#logout a:hover
{
	color: black;
}

/* SIDEBAR RIGHT */

.rightfixed
{
	float: right;
	width: 290px;
	height: 300px;
	clear: right;
}

.sidebarright
{
	position: fixed;
	/*float: right;*/
	width: 250px;
	/*height: 240px;*/
	background-color: #FFFFFF;
	border: 1px solid #B7B7B7;
	border-radius: 4px;
	box-shadow: 2px 6px 6px #999999;
	padding: 20px;
}

.suggesfixed
{
	position: fixed;
}


#suggestion
{
	margin: 0px;
	padding: 0px;
	position: relative;
	float: left;
	top: -18px;
	left: 2px;
	text-decoration: underline;
	color: #666666;
	font-size: 14px;
	height: 300px;
}


.rightcontent
{
	/*margin-top: -20px;*/
	padding-bottom: 5px;
	margin-bottom: 5px;
	height: 40px;
}


.sidebarright .rightcontent img
{
	display: inline;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
}


.rightcontent p
{
	display: block;
	width: 120px;
	margin: auto auto;
	margin-left: 15px;
	margin-top: 12px;
	float: left;
	text-align: left;
	font-size: 14px;

}


.rightcontent a
{
	display: block;
	float: right;
	width: 68px;
	font-size: 13px;
	margin-top: 7px;
	text-decoration: none;
	text-align: center;
	color: rgba(0,0,0,.85);
	height: 19px;
	padding: 1px;
	border: 2px solid #B7B7B7;
	border-radius: 4px;
	/*transition: width 2s ease-in-out;*/
}


.rightcontent a:hover
{
	background-color: #009688;
	width: 70px;
	height: 21px;
	border: none;
	color: white;
}

.rightcontent form{
	margin-left: 60px;
	margin-top: 10px;
}
.rightcontent form input
{
	display: block;
	float: left;
	width: fit-content;
	/* margin-left: 50px; */
	font-size: 13px;
	margin-top: 10px;
	/* text-decoration: ; */
	text-align: center;
	color: rgba(0,0,0,.85);
	height: fit-content;
	padding: 5px;
	border: 2px solid #B7B7B7;
	border-radius: 4px;
}

.rightcontent form input:hover{
	background-color: #009688;
	width: fit-content;
	height: fit-content;
	border: none;
	color: white;
}

.rightfixed .sidebarright hr
{
	border: 0.5px solid #B7B7B7;
	outline: 0px;
	width: 80%;
	box-shadow: 1px 1px 5px #999999;
	margin-bottom: 12px;
	position: relative;
}


.foot
{
	background-color: white;
	text-align: center;
	position: relative;
	top: -10px;
}

.foot ul
{
	padding: 5px;
	list-style-type: none;
	text-align: center;
	margin: 5px;
	border-radius: 5px;
}

.foot ul li
{
	display: inline-block;
	padding: 3px;
}

.foot ul li a
{
	text-decoration: underline;
	/*padding: 10px;*/
	color: #615D5E;
	font-size: 13px;
}


.foot ul li a:hover
{
	color: #009688;
	font-size: 14px;
}


.foot p
{
	color: #666666;
	text-align: center;
	font-size: 12px;
	padding-top: 6px;
	padding-bottom: 1%;
}


.foot img
{
	width: 50px;
	height: 40px;
	display: block;
	margin: 0 auto;
} 

/*creating animation when click connect*/
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/*	MAIN SECTION */

.mainnotfixed
{
	float: left;
	width: 570px;
	/*height: 240px;*/
}

.main
{
	/*width: 558px;*/
	/*height: 220px;*/
	background-color: #FFFFFF;
	border: 1px solid #B7B7B7;
	/*position: fixed;*/
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 20px;
	box-shadow: 4px 1.5px 5px #999999;

}

.mainnotfixed hr
{
	border: 0.5px solid #B7B7B7;
	outline: 0px;
	width: 90%;
	box-shadow: 1px 1px 5px #999999;
	margin-bottom: 18px;
}


.mainpost
{	

	background-color: #FFFFFF;
	border: 1px solid #B7B7B7;
	/*position: fixed;*/
	border-radius: 4px;
	padding: 15px;
	box-shadow: 4px 1.5px 5px #999999;
	margin-bottom: 5px;
}


.mainpost .userimg img
{
	width: 45px;
	height: 45px;
	/*padding-bottom: 30px;*/ 
	float: left;
}


.mainpost .name
{
	display: inline;
	padding-left: 8px;
	font-size: 16px;
	position: relative;
	top: 4px;
	font-weight: bold;
	/*float: left;*/
}


.mainpost .date
{
	display: inline;
	padding-left: 8px;
	font-size: 12px;
	color: #999999;
	/*float: left;*/
}

.mainpost .post
{
	/*padding: 30px;*/
	/*margin-top: 10px;*/
	max-height: 250px;
}


.mainpost .postimg
{
	max-width: 100%;
	max-height: 250px;
	display: block;
	margin: 0 auto;
}

.mainpost .title
{
    font-weight: bold;
    margin: 12px 4px 8px 4px;
	font-size: 14px;
	/*letter-spacing: 0.5px;*/
	font-family: sans-serif;
	text-align: justify;
	padding: 5px;
}

.mainpost .quotes
{
	margin: 12px 4px 8px 4px;
	font-size: 14px;
	/*letter-spacing: 0.5px;*/
	font-family: sans-serif;
	text-align: justify;
	padding: 5px;
}


.main .title input{
    margin-top: 8px;
	width: 100%;
    outline: 0px;
	padding: 5px;
	border: 1px solid #D1D1D1;
	font-size: 14px;
	font-family: sans-serif;
	text-align: justify;
	resize: none;
	box-sizing: border-box;
}
.main .quotes textarea
{
	margin-top: 5px;
	width: 100%;
	height: 70px;
	outline: 0px;
	padding: 5px;
	border: 1px solid #D1D1D1;
	font-size: 14px;
	font-family: sans-serif;
	text-align: justify;
	resize: none;
	box-sizing: border-box;
}

.main .postbar
{

	padding: 10px 10px 1px 10px;
}

.main .postbar .imgbttn
{	
	display: inline;
	/*float: left;*/
	font-size: 15px;
	background-color: white;
	border: 3px solid #615D5E;
	border-radius: 4px;
	outline: 0px;
	/*position: absolute;
	left: 10px;*/
	box-shadow: 3px 3px 5px #999999;
}

.main .postbar .postmypost
{
	display: inline;
	float: right;
	font-size: 16px;
	padding: 6px 9px 4px 9px;
	background-color: #43d854;
	outline: 0px;
	border: 0px;
	border-radius: 4px;
	box-shadow: 3px 3px 5px #999999;
}


.main .postbar .postmypost:hover
{
	background-color: #009688;
	color: white;
}

.main .postbar .postmypost:active
{
  background-color: #4CAF50;
  box-shadow: 0 5px 4px #666;
  transform: translateY(5px);
}

.main .postbar #chooseimg
{
	width: 90px;
	/*float: left;*/
	height: 28px;
	font-size: 12px;
	position:absolute;
	opacity: 0;
}

.main .postimg
{
	max-height: 150px;
}


.likedislike .like
{
	font-size: 11px;
	font-family: Verdana;
	color: #999;
}


.likedisbttn
{
	margin: 0px;
	border: 1px solid #D1D1D1;
	padding: 5px;
}


.likedisbttn .fa
{
	/*color: #009688;*/
	font-size: 18px;
	margin-right: 10px;
}

.likedisbttn .fa-thumbs-up
{
    font-size: 18px;
	margin-right: 10px;
	margin-left: 8px;
}

.likedisbttn .fa-thumbs-down
{
	margin-left: 13px;
}

.likedisbttn .fa:hover
{
	color: #2196F3;
	/*color: red;*/
}


.likedisbttn .fa:active
{
  	transform: translateY(2px);
}


.viewmore
{
	display: block;
	margin: 35px auto;
	padding: 1px;
	border: 2px solid #B7B7B7;
	outline: 0px;
	color: black;
	background-color: white;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #999999;
	font-size: 16px;
}



/* .loader {
	display: block;
	margin: 35px auto;
	padding: 1px;
	outline: 0px;
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid #00aeef;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
} */


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.viewmore:hover
{
	border: 2px solid #2196F3;
	background-color: #00aeef;
	color: white;
}

.viewmore:active
{
  background-color: #4F82C3;
  box-shadow: 0 5px 4px #666;
  transform: translateY(5px);
}

