<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="..\static\css\homeoagenew.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="../static/js/hoempage.js"></script>

	<style>
		.modal {
		 display: none; /* Hidden by default */
		 position: fixed; /* Stay in place */
		 z-index: 1; /* Sit on top */
		 padding-top: 100px; /* Location of the box */
		 left: 0;
		 top: 0;
		 width: 100%; /* Full width */
		 height: 100%; /* Full height */
		 overflow: auto; /* Enable scroll if needed */
		 background-color: rgb(0,0,0); /* Fallback color */
		 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	   }
	   
	   /* Modal Content */
	   .modal-content {
		 background-color: #fefefe;
		 margin: auto;
		 padding: 20px;
		 border: 1px solid #888;
		 width: 50%;
	   }
	   
	   /* The Close Button */
	   .close {
		 color: #aaaaaa;
		 float: right;
		 font-size: 28px;
		 font-weight: bold;
	   }
	   
	   .close:hover,
	   .close:focus {
		 color: #000;
		 text-decoration: none;
		 cursor: pointer;
	   }
	   
	   
	   </style>
</head>


<body>
	<!-- Header section -->
	<div class="headerfixed">
        <div class="header">
            <div class="wrapper">   
                <a href="homepage.html"><img src="../static/images/Word Art (1).png" width=120 height=45 class="logoletter"/></a>
        
                <!-- <form id="searching">
                  <input type="text" name="search" placeholder="Search.." id="search">
                </form>
     -->
                <div class="icon-bar">
                 <ul>
                     <!-- home -->
                     <li style="border-bottom: 6px solid white;"><a href="#" onmouseover="headerchange(1);" onmouseout="headerorigin(1);"><img src="../static/images/home.png" id="home"><p id="p1">Home</p></a></li>
                     <!-- profile -->
                     <li> <a href="{{url_for('Myprofile')}}" onmouseover="headerchange(2);" onmouseout="headerorigin(2);"><img src="../static/images/profile.png" id="profile"><p id="p2">Profile</p></a> </li>
                     <!-- following -->
                     <li><a href="{{url_for('followingList')}}" onmouseover="headerchange(3);" onmouseout="headerorigin(3);"><img src="../static/images/foloowing.png" id="following"><p id="p3">Following</p></a></li>
                     <!-- notification -->
                     <li><a href="{{url_for('chathome')}}" onmouseover="headerchange(4);" onmouseout="headerorigin(4);"><img src="../static/images/chat.png" id="chats"><p id="p4">&nbsp&nbspChats</p></a>
                     
                     </li>
                 </ul>	 
                </div>
            </div>
        </div>
	</div>
	<!-- End of header section -->
	<br>
<marquee>{{mesg}}</marquee>

<!-- Content Section -->
	<div class="content">
		<div class="wrapper">

			<!-- Left section -->
			<div class="leftfixed">
				<div class="sidebarleft">
					<img src="../{{u.profile}}"/>
					<p id="sidename"> {{unam}}</p>
					<p id="country">India</p>
					<hr>
					<p id="nofollowers">{{u.follower_count}}</p>
					<p id="followerlist"><a href="{{url_for('followerList')}}">Followers</a></p>
					<p id="logout"><a href="{{url_for('logout')}}">Log Out</a></p>
				</div>
			</div>
			<!-- End  -->

			<!--  Main section -->
			<div class="mainnotfixed" id="mainnotfixed">
				<!-- For  posting a content -->
				<div class="main mainpost" style="margin-bottom:20px; padding-bottom:10px;">	
					<form action="/upload" method="POST" enctype="multipart/form-data">
					<div class="userimg"><img src="../{{u.profile}}"/>
						</div>
					    <div class="username"><p class="name" style="top:15px;">{{unam}}</p>
					    </div>
                        <p class="title">
                            <input type="text" placeholder="Post Title" name="ptitle">
                        </p>
						<p class="quotes">
							<textarea id="mypara" placeholder="Share an article ,photo ,video or idea." name="desc" ></textarea>
						</p>
						<!-- image load to post -->
						<!-- <div class="post">
							<input type = "file" class="postimg" id="myFile" name="file">
						</div> -->

						<div class="postbar">
							<input type="file" accept="images/*" id="chooseimg" name="file"  onmouseover="onbuttoncolor()" onmouseout="outbuttoncolor()"/>
							<button type="button" class="imgbttn" id="imgbttn">&#x1f4f7; Images</button>
							<button type="button" class="imgbttn" id="myBtn">&#x1f4f7; News</button>
							
							<button type="submit" id="postmypost" class="postmypost" onclick="mypost();">Post</button>
						</div>
					</form>
				</div>
				<!-- End of posting content -->

				 <!-- modal -->
				 <div id="myModal" class="modal">

					<!-- Modal content -->
					<div class="modal-content">
						<span class="close">&times;</span>
						<form action="/uploadNews" method="POST" enctype="multipart/form-data">
						<div class="main mainpost" style="margin-bottom:20px; padding-bottom:10px;">	

							<div class="userimg"><img src="../{{u.profile}}"/>
								</div>
								<div class="username"><p class="name" style="top:15px;">{{unam}}</p>
								</div>
								<p class="title">
									<input type="text" name="newsT"placeholder="Post Title">
								</p>
								<p class="quotes">
									<textarea id="mypara" name="newsD" placeholder="Share a News"></textarea>
								</p>
								<div class="postbar">
										<input type="submit" id="postmypost" class="postmypost" ></button>
								</div>
		
						</div>
					</form>
                        </div>
                        </div>
						<hr>
                
				<!-- Posted content  -->
				<div class="allpost">
				
					{%for users,i in c %}
                    
                    {%for post in i%}
					<div class="mainpost">
						<div class="userimg"><img src="../{{users.profile}}"/>
						</div>
					    <div class="username"><p class="name">{{users.uname}}</p>
					    </div>
						<p class="date">{{ post.pdate}}</p>
                        <p class="title">
                            {{ post.ptitle}}
                        </p>
						<p class="quotes">
                            {{post.pdesc[0:]}}
                        </p>
						<div class="post">
							<img  src="../{{post.pimgpath}}" class="postimg">
						</div>

						<div class="likedislike">
							<p class="like">
								<button class="raam"  pid="{{post.pid}}">{{post.likes}}</button>
								 likes
							</p>
							
						</div>
                      
					</div>
					{%endfor%}
					{%endfor%}

					<!-- Demo -->
					<!-- <div class="mainpost">
						<div class="userimg"><img src="../static/uploads/mic.jpeg"/>
						</div>
					    <div class="username">				
                            <p class="name">Pranav Sonare</p>
					    </div>
						<p class="date">February 30, 3030</p>
						<p class="quotes">
							A gender-equal society would be one where the word 'gender' does not exist: where everyone can be themselves.
						</p>
						<div class="post">
							<img class="postimg" src="../static/uploads/5.jpg"/>
						</div>

						<div class="likedislike">
							<p class="like">
								<span>0 </span> likes &nbsp <span>0 </span> dislikes
							</p>
							<p class="likedisbttn">
								<span id="thumbsup2" class="fa fa-thumbs-up" ></span> <span id="thumbsdown2" class="fa fa-thumbs-down"></span>
							</p>
						</div>
					</div> -->
				</div>

				<button type="button" id="viewmore" class="viewmore">View More</button>
			</div>
			<!-- End of main content section -->

			<!-- start of right section suggestion user -->
			<div class="rightfixed">
				<div class="suggesfixed"><p id="suggestion">Suggestions</p></div>
				<div class="sidebarright">
					<div class="rightcontent">
						<img src="../static/uploads/mic.jpeg"/>
						<p class="name">Pranav Sonare</p>
						<a href="#" id="connect1" onclick="changelogo('connect1');">&#x271A; Connect</a>
					</div>

					<div class="rightcontent">
						<img src="../static/uploads/mic.jpeg"/>
						<p class="name">Saksham Agrawal</p>
						<a href="#" id="connect2" onclick="changelogo('connect2');">&#x271A; Connect</a>
					</div>

					<div class="rightcontent">
						<img src="../static/uploads/mic.jpeg"/>
						<p class="name">Vaibhav Dubey</p>
						<a href="#" id="connect3" onclick="changelogo('connect3');">&#x271A; Connect</a>
					</div>

					<div class="rightcontent">
						<img src="../static/uploads/mic.jpeg"/>
						<p class="name">Tavneet Singh Khurana</p>
						<a href="#" id="connect4" onclick="changelogo('connect4');">&#x271A; Connect</a>
					</div>

					<div class="rightcontent">
						<form action="{{url_for('followUser')}}" method="Post"><input type="submit" value="You may Know" > </form>
						<!-- <img src="../static/uploads/mic.jpeg"/>
						<p class="name">Pranav Sonare</p>
						<a href="#" id="connect5" onclick="changelogo('connect5');">&#x271A; Connect</a> -->
					</div>
				</div>
			</div>
			<!-- End of right section suggestion user -->


			<!-- about us -->
			<div class="rightfixed">
				
				<div class="sidebarright" style="width: 280px;padding: 4px;margin-top: 20px;height: 150px;">
					<hr style="top: -25px;">
				<div class="foot">

					<ul>
						<li><a href="">About</a></li>
						<li><a href="">Contact</a></li>
						<li><a href="">Privacy and Policy</a></li>
						<li><a href="">Help</a></li>
					</ul>
					<img src="../static/images/Word Art (1).png"/>
					<p>Copyright © www.duel.com 2021 All Rights Reserved.</p>
				</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(".raam").click(function(){
 
         
        
      
 
 var qid=$(this).attr('pid')

  req=$.ajax({
          url:'/like',
          type:'POST',
          data:{pid:qid}
      });
     
 
    
          });

            
     </script>

<script>
	// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</html>